stages:
  - test
  - build

variables:
  DOCKER_DRIVER: overlay2

.test_template: &test_template
  stage: test
  image: python:3.12-bookworm
  before_script:
    - pip install -U pip
    - pip install -r requirements.txt
  artifacts:
    when: always
    paths:
      - pytest-report.xml
    expire_in: 1 week

unit_tests:
  <<: *test_template
  script:
    - pytest tests/ -v --junitxml=pytest-report.xml

train_model:
  <<: *test_template
  script:
    - python src/service/train_and_save_model.py

functional_tests:
  <<: *test_template
  services:
    - name: docker:dind
      alias: docker
  before_script:
    - pip install -U pip
    - pip install -r requirements.txt
    - apt-get update && apt-get install -y curl
  script:
    - docker build -t taxi-app .
    - docker run -d -p 32000:32000 --name taxi-app-container taxi-app
    - sleep 30
    - curl -f http://localhost:32000/ || exit 1
    - curl -f http://localhost:32000/docs || exit 1
    - curl -f -X POST http://localhost:32000/api/predict/ \
        -H 'Content-Type: application/json' \
        -d '{"data": [{"pickup_latitude": 40.7614327, "pickup_longitude": -73.9798156, "dropoff_latitude": 40.6413111, "dropoff_longitude": -73.7781391, "passenger_count": 2}]}' || exit 1
  after_script:
    - docker stop taxi-app-container || true
    - docker rm taxi-app-container || true

build_docker:
  stage: build
  image: docker:26
  services:
    - name: docker:26-dind
      alias: docker
  before_script:
    - apk add --no-cache docker-cli
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .
    - echo "Docker image built successfully"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  dependencies:
    - unit_tests
    - train_model
    - functional_tests
